@*Define model*@
@model IEnumerable<Category>

@*Define ViewData@**@
@{
    ViewData["Title"] = "List of categories";
}



<h1>Welcome to Categories View</h1>

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th> </th>
                    <th> @Html.DisplayNameFor(model => model.Name)</th>
                    
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>                    
                        <td class="align-middle">
                            <img class="rounded-circle" src = "@item.ProfilePictureUrl" style="max-width:150px;"/>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                             <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="GetByCategoryId" asp-route-id="@item.Id">Services</a>
                        </td>
                            
                        }

                       
                    </tr>
                }
                
            </tbody>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
    

</div>
@await Html.PartialAsync("_CreateItem", "Categories") 
<div style="position: fixed; left: 25px; bottom: 100px;" class="text-white">
        <a asp-controller="Services" asp-action="Index" class="btn btn-outline-primary">
            <i class="bi bi-plus-circle"></i> 
            
            See all Services
        </a>
</div>