@model Client
@{
    ViewData["Title"] = "Book a visit";

}

<div class="row text">
    <div class="col-md-8 offset-2">
        @if (!User.IsInRole("Admin"))
        {
            <p>
            <h1>Leave your contact details and we will get in touch to schedule your visit</h1>

            </p>
            <div class="form-group text-center">
                        <img src="~/Images/contact.jpg" />
             </div>
            
        }
        
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Confirm" class="btn btn-outline-success float-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


 